html {
  font-size: 16px;
  font-family: "Noto Sans JP", "Noto Serif JP", sans-serif;
}

p,
dd {
  line-height: 1.5;
}

:root {
  --bg-color: #fff;
  --text-color: #000;
  --accent-color: #f00;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
  position: relative;
  background-color: var(--bg-color);
  display: flex;
}

.main {
  margin-left: 4rem;
}

/*-------------------------------------
  index top
-------------------------------------*/
.nav {
  position: sticky;
  top: 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  width: 11rem;
  height: 100vh;
  flex: none;
}

.nav__title {
  margin-top: 2rem;
  position: relative;
}

.nav__title h1 {
  font: 2rem "Noto Serif JP";
}

.nav__item-list {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  flex: initial;
}

.nav__item-list::-webkit-scrollbar {
  display: none;
}

.nav__item {
  position: relative;
  margin-top: 1rem;
  transition: 0.2s;
}

.nav__item:first-of-type {
  margin-top: 2rem;
}
.nav__item:last-of-type {
  margin-bottom: 2rem;
}

.nav__title::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 2rem;
  background: linear-gradient(var(--bg-color), transparent);
  pointer-events: none;
}

.nav__return::before {
  content: "";
  position: absolute;
  top: -2rem;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 2rem;
  background: linear-gradient(transparent, var(--bg-color));
  pointer-events: none;
}

.nav__return {
  position: relative;
  height: 2rem;
  margin-bottom: 2rem;
}

.nav__item:hover,
.nav__return:hover {
  color: var(--accent-color);
}

.nav__item--active {
  color: var(--accent-color);
  margin-right: 1rem;
}

.nav__item--active::after {
  position: absolute;
  content: "";
  top: calc(50% - 0.5rem);
  right: -1rem;
  width: 1rem;
  height: 1rem;
  border-right: 0.5rem solid;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
}

/*-------------------------------------
  index works
-------------------------------------*/
.works__title {
  width: max-content;
  margin-top: 2rem;
  color: var(--accent-color);
  font: 1.5rem "Noto Serif JP";
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.works-list__item {
  position: relative;
  flex: 0 0 7.5rem;
  height: 7.5rem;
}

.works-list__item p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  color: var(--bg-color);
  background-color: var(--text-color);
  pointer-events: none;
  transition: 0.2s;
  filter: opacity(0);
}

.works-list__item:hover p {
  filter: opacity(0.9);
}

.works-list__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-------------------------------------
  index about
-------------------------------------*/
.about {
  margin-top: 2rem;
  padding: 2rem 0;
}

.about-profile {
  margin-top: 2rem;
  position: relative;
  padding: 1rem;
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  border-radius: 1rem;
}

.about-profile::after {
  position: absolute;
  top: calc(50% - 0.5rem);
  left: calc(-0.5rem - 1px);
  content: "";
  width: 1rem;
  height: 1rem;
  border-left: 1px solid var(--text-color);
  border-top: 1px solid var(--text-color);
  background-color: var(--bg-color);
  transform: rotate(-45deg);
}

.about-profile__head {
  margin-top: 1rem;
  padding-left: 0.5rem;
  border-left: 0.5rem solid var(--accent-color);
  font: bold 1.2rem "Noto Sans JP";
}

.about-profile__head:first-of-type {
  margin-top: 0;
}

.about-strength__head {
  padding-left: 0.5rem;
  color: var(--accent-color);
  border-left: 1rem solid;
  font-weight: bold;
}

.about-strength__head + p,
.about-profile__head + p {
  margin-top: 0.5rem;
}

/*-------------------------------------
  work section
-------------------------------------*/
.work__sect {
  margin-top: 1px;
  padding: 2rem 0;
  border-bottom: 1px solid var(--text-color);
}

.work__sect:last-of-type {
  border-bottom: none;
}

.work__sect iframe {
  width: 100%;
  margin-top: 1rem;
}

/*-------------------------------------
  work summary
-------------------------------------*/
.summary__title {
  font: bold 1.8rem "Noto Serif JP";
}

.summary__lead {
  color: var(--accent-color);
}

.summary {
  position: relative;
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  border-radius: 1rem;
}

.summary::after {
  position: absolute;
  top: calc(-0.5rem - 1px);
  left: calc(50% - 0.5rem);
  content: "";
  width: 1rem;
  height: 1rem;
  border-left: 1px solid var(--text-color);
  border-top: 1px solid var(--text-color);
  background-color: var(--bg-color);
  transform: rotate(45deg);
}

.summary__head {
  padding-left: 0.5rem;
  margin-top: 1rem;
  border-left: 0.5rem solid var(--accent-color);
  font: bold 1.2rem "Noto Sans JP";
}

.summary__head:first-of-type {
  margin-top: 0;
}

.summary__head + dd {
  margin-top: 0.5rem;
}

/*-------------------------------------
  work detail
-------------------------------------*/
.detail__head {
  margin-top: 2rem;
  padding-left: 0.5rem;
  color: var(--accent-color);
  border-left: 1rem solid;
  font-weight: bold;
}

.detail__text {
  margin-top: 0.5rem;
}

.detail__img {
  display: block;
  margin: 1rem auto 0;
  max-height: 30rem;
  cursor: zoom-in;
}

.detail__img-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
  gap: 1rem;
}

.detail__img-list img{
  width: 100%;
  max-height: 30rem;
  object-fit: contain;
  cursor: zoom-in;
}

.flex--2col > img,
.flex--2col > div {
  max-width: calc((100% - 1rem) / 2);
}

.flex--3col > img {
  max-width: calc((100% - 2rem) / 3);
}

.detail__textbox {
  width: 100%;
  height: 15rem;
  margin-top: 0.5rem;
  padding: 0.5em;
  border: 1px solid var(--text-color);
  overflow-y: scroll;
}

.detail__textbox pre {
  white-space: pre-wrap;
  font-size: 0.8rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  place-content: center;
  user-select: none;
}

.modal__image {
  width: 100%;
  height: 100vh;
  object-fit: contain;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  display: grid;
  place-content: center;
  color: var(--bg-color);
  mix-blend-mode: difference;
}
